# If you add a lib here, please include a short description of what it's doing

# Documentation
Sphinx==7.4.7
# Releaser tool
zest.releaser==5.5
# Package checking
pyroma==4.2
# Check packages version
pip-tools==7.4.1
# Better pdb
ipdb==0.13.13
